/* ###########################################################################################
######################################## SMARTPHONE ##########################################
############################################################################################ */

/* BODY */

body {
    font-family: Georgia,Times New Roman,Times,serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/* HEADER */

header {
	background-color: orange;
}

h1 {
    text-align: center;
}

.img_center {
    text-align: center;
}

.navlist li /* navigation */
{ 
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 25px;
}

/* link style */
/* decoration liens survolé */
a:hover {
    text-decoration: underline;
}

/* Table style */

table /* taille du tableau */
{
    width: 250px;
    margin: 30px auto;
    border-collapse: collapse;
}

.th_orange {
	background-color: orange;
}

.td_grey {
	background-color: #ECECEC;
}

td {
    text-align: left;
}

/* Footer style */

footer {
	background-color: orange;
}

/* ###########################################################################################
######################################## tablets #############################################
############################################################################################ */

@media screen and (min-width: 450px) {

table /* taille du tableau */
{
    width: 400px;
    margin: 30px auto;
    border-collapse: collapse;
}

}