/* ###########################################################################################
######################################## SMARTPHONE ##########################################
############################################################################################ */

/* BODY */

body {
    font-family: Georgia,Times New Roman,Times,serif;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/* HEADER */

header {
	background-color: orange;
}

h1 {
    text-align: center;
}

.img_center {
    text-align: center;
}

.navlist li /* navigation */
{ 
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    font-size: 25px;
}
